---
import Nav from '../components/nav.astro'
import Footer from '../components/footer.astro'


const { page_title = "default" } = Astro.props;
const { page_description = "default"} = Astro.props;
---


<!DOCTYPE html>
<html lang="en" class="h-full overflow-y-scroll snap-y snap-mandatory scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{page_title}</title>
  <meta name="description" content=`${page_description}`>
</head>
<body>
    <Nav />
	<slot />
    <Footer />
</body>
</html>